@model List<SistemaGestion.Models.Proc_ListaLibroVenta_Result>
<div class="container shadow-lg p-3 mb-5 mt-5 bg-body rounded">
    <div class="row">
        <div class="col-lg-12">
            <table id="tbReporte" class="table table-bordered  display nowrap" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th class="text-center">Sociedad</th>
                        <th class="text-center">Centro</th>
                        <th class="text-center">Documento</th>
                        <th class="text-center">NumeroDocto</th>
                        <th class="text-center">FechaContabilizacion</th>
                        <th class="text-center">Referencia</th>
                        <th class="text-center">Total</th>
                        <th class="text-center">Impuesto</th>
                        <th class="text-center">FechaDocumento</th>
                        <th class="text-center">Cliente</th>
                        <th class="text-center">NFis</th>
                        <th class="text-center">Exe</th>
                        <th class="text-center">Afe</th>
                        <th class="text-center">Iva</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Sociedad</td>
                            <td>@item.Centro</td>
                            <td>@item.ClaseDocumental</td>
                            <td>@item.NumeroDocto</td>
                            <td>@item.FechaContabilizacion</td>
                            <td>@item.Referencia</td>
                            <td>@item.BaseImponibleMP.ToString("C")</td>
                            <td>@item.IndicadorImpuesto</td>
                            <td>@item.FechaDocumento</td>
                            <td>@item.NombreCliente</td>
                            <td>@item.NumeroIdentFiscal</td>
                            <td>@item.Exento.Value.ToString("C")</td>
                            <td>@item.Afecto.Value.ToString("C")</td>
                            <td>@item.Iva.Value.ToString("C")</td>

                            @*<td>$@item.Diferencia.Value.ToString("0,000")</td>*@
                            @*<td>
                                    <button type='button' class='editar btn btn-danger ' data-toggle='modal' data-target='#FormModal'><span class='fa fa-edit'></span></button>
                                </td>*@


                        </tr>
                    }
                </tbody>

            </table>
            <div class="footer">
                <div class="chart-legend">
                    <div class="text-center">
                        <i class="fa fa-check-circle text-dark"></i>
                        DB-Reversa Documento
                        <i class="fa fa-check-circle text-dark"></i>
                        DC-Recarga Minuto
                        <i class="fa fa-check-circle text-dark"></i>
                        DJ-Factura
                        <i class="fa fa-check-circle text-dark"></i>
                        DP-Boleta
                        <i class="fa fa-check-circle text-dark"></i>
                        DW-Nota de Credito
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>

<script>
        $(document).ready(function () {
            tabla_data = $('#tbReporte').DataTable({
                responsive: true,
                dom: "Bfrtlp",
                buttons: [{
                    extend: 'excelHtml5',
                    text: 'Exportar Libro',
                    className: 'btn btn-success',
                    title: 'lv',
                    customize: function (xlsx) {
                        var sheet = xlsx.xl.worksheets['sheet1.xml'];

                        $('row c[r^="C"]', sheet).attr('s', '2');
                    }
                }],
                "language": {
                    url: "@Url.Content("~/Content/datatable/js/datatable_spanish.json")"
                }
            });
        });
</script>