
@model SistemaGestion.Models.ViewModels.AcumuladoFaltanteView.Data
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-pre1-tab" data-toggle="tab" data-target="#nav-pre1" type="button" role="tab" aria-controls="nav-pre1" aria-selected="true">Faltante</button>
        <button class="nav-link" id="nav-pre2-tab" data-toggle="tab" data-target="#nav-pre2" type="button" role="tab" aria-controls="nav-pre2" aria-selected="false">Acumulado</button>


    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-pre1" role="tabpanel" aria-labelledby="nav-pre1-tab">
        <div class="mb-2 mt-1">
            <div class="row">

                <div class="table-responsive">
                    <table id="tbReporte" class="table table-bordered  display nowrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th class="text-center">Tienda</th>
                                <th class="text-center">rut cajero</th>
                                <th class="text-center">Total</th>
                              

                                <!--<th class="text-center">Fecha</th>-->
                                @*<th class="text-center">caja</th>*@
                                @*<th class="text-center">Tipo</th>

                                    <th class="text-center">Estado</th>*@
                                <th class="text-center">Accion</th>

                            </tr>
                        </thead>
                        <tbody>
                            @*@foreach (var item in Model.OrderBy(x => x.IDTIENDA))*@
                            @foreach (var item in Model.AcumuladoFaltante.OrderBy(x=>x.idTienda))
                            {
                                <tr>
                                    @*<td>@item.ID_Empleado</td>
                                        <td>@(item.EMPLEADO.NOMBRES + " " + item.EMPLEADO.APELLIDOS)</td>
                                         <td>@item.IDTIENDA</td>
                                         <td>@item.Mes</td>*@
                                    <td class="text-center">@item.idTienda</td>
                                    <td class="text-center">@item.idEmpleado</td>
                                    <td class="text-center">@item.Total</td>



                                    <td style="width:30px;" class="text-center">
                                        <button type='button' class='editar btn btn-outline-success btn-sm shadow-sm' title="Detalle"
                                                onclick='Detalle("@item.idTienda","@item.idEmpleado")'>
                                            <span class='fa fa-list-alt'></span>
                                        </button>

                                        @*}*@

                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-pre2" role="tabpanel" aria-labelledby="nav-pre2-tab">
        <div class="table-responsive">
            <table id="tbReporte2" class="table table-bordered  display nowrap" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th class="text-center">TotalAcumulado</th>
                        <th class="text-center">FechaAprobacion</th>
                        @*<th class="text-center">Nombre cajero</th>*@
                        <th class="text-center">TipoAceptacion</th>
                        <th class="text-center">Observacion</th>
                        <!--<th class="text-center">Fecha</th>-->
                        @*<th class="text-center">caja</th>*@
                        <th class="text-center">Detalle</th>


                    </tr>
                </thead>
                <tbody>
                    @*@foreach (var item in Model.OrderBy(x => x.IDTIENDA))*@
                    @foreach (var item in Model.aceptadosRechazados)
                    {
                        <tr>

                            <td class="text-center">@item.TotalAcumulado</td>
                            <td class="text-center">@item.FechaAprobacion</td>
                            <td class="text-center">@item.TipoAceptacion.Nombre</td>
                            <td class="text-center">@item.Observacion</td>

                            <td style="width:30px;" class="text-center">

                                <button type='button' class='editar btn btn-outline-success btn-sm shadow-sm' title="Detalle"
                                        onclick='DetalleAcepatos("@item.Id")'>
                                    <span class='fa fa-list-alt'></span>
                                </button>

                            </td>





                        </tr>
                    }
                </tbody>
            </table>
            <div class="modal fade" id="ModalDetalleAceptados" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">

            </div>
        </div>
    </div>

</div>



<script>
    $(document).ready(function () {

        var tabla_data = $("#tbReporte").DataTable({
            scrollX: true,
            "language": {
                 url: "@Url.Content("~/Content/datatable/js/datatable_spanish.json")"
            },
            "order": [[2, "asc"]]
        });
         var tabla_data = $("#tbReporte2").DataTable({
             scrollX: true,
             responsive: true,
            "language": {
                 url: "@Url.Content("~/Content/datatable/js/datatable_spanish.json")"
            },
            "order": [[2, "asc"]]
        });


        ////////////////////////////////////////////////////////////////
        //AUTO-AJUSTA LAS TABLAS AL CAMBIAR DE TABS
        $('button[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            $($.fn.dataTable.tables(true)).DataTable()
                .columns.adjust();
            //.fixedColumns().relayout();
        });

    });


    function DetalleAcepatos(ID) {
            console.log('entro al detalle');

            var item = { ID :ID }
             var url = "@Url.Action("DetalleAceptadosRechazados", "Tienda")";
           $.ajax({
            type: 'GET',
               url: url,
               data: item,
               success: function (data) {
                   console.log('esta en el success');

                   $("#ModalDetalleAceptados").html(data);
                   $("#ModalDetalleAceptados").modal('show');
                   function bajar() {
                       $('#cargal').modal('hide');

                   }



               },
               error: function (xhr, ajaxOptions, thrownError) {
                   alert(thrownError);
               }
             });
        };







</script>
